<!-- ========== Left Sidebar Start ========== -->
            <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">

                    <!-- User -->
                    <div class="user-box">
                        <div class="user-img">
                            <img src="assets/images/users/avatar-11.png" alt="user-img" title="Garima Jani" class="img-circle img-thumbnail img-responsive">
                            <div class="user-status offline"><i class="zmdi zmdi-dot-circle"></i></div>
                        </div>
                        <h5><a href="#">Garima Jani</a> </h5>
                        <ul class="list-inline">
                            <li>
                                <a href="#" >
                                    <i class="zmdi zmdi-settings"></i>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="text-custom">
                                    <i class="zmdi zmdi-power"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End User -->

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <ul>
                            <li class="text-muted menu-title">Navigation</li>

                            <li>
                                <a href="index.html" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span> Dashboard </span> </a>
                            </li>

                            <li class="has_sub">
                                <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-collection-text"></i><span> Forms </span><span class="menu-arrow"></span> </a>
                                <ul class="list-unstyled">
                                    <li><a href="/add">Basic Form</a></li>
                                    <li><a href="/add_achievement">Add Achievement</a></li>
                                    <li><a href="/add_activity">Add Activity</a></li>
                                    <li><a href="/add_activitytype">Add Activity Type</a></li>
                                    <li><a href="/add_admin">Add Admin</a></li>
                                    <li><a href="/add_etimeline">Add E-timeline</a></li>
                                    <li><a href="/add_event">Add Event</a></li>
                                    <li><a href="/add_feedback">Add Feedback</a></li>
                                    <li><a href="/add_postcategory">Add Post Category</a></li>
                                    <li><a href="/add_score">Add Score</a></li>
                                    <li><a href="/add_todotaskpost">Add To-do Task post</a></li>
                                    <li><a href="/add_user">Add User</a></li>
                                </ul>
                            </li>

                            <li class="has_sub">
                                <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-view-list"></i> <span> Tables </span> <span class="menu-arrow"></span></a>
                                <ul class="list-unstyled">
                                    <li><a href="/view">Basic Table</a></li>
                                    <li><a href="/view_achievement">View Achievement</a></li>
                                    <li><a href="/view_activity">View Activity</a></li>
                                    <li><a href="/view_activitytype">View Activity Type</a></li>
                                    <li><a href="/view_admin">View Admin</a></li>
                                    <li><a href="/view_etimeline">View E-timeline</a></li>
                                    <li><a href="/view_event">View Event</a></li>
                                    <li><a href="/view_feedback">View Feedback</a></li>
                                    <li><a href="/view_postcategory">View Post Category</a></li>
                                    <li><a href="/view_score">View Score</a></li>
                                    <li><a href="/view_todotaskpost">View To-do task Post</a></li>
                                    <li><a href="/view_user">View User</a></li>                                </ul>
                            </li>

                            <li class="has_sub">
                                <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-collection-item"></i><span> Pages </span> <span class="menu-arrow"></span></a>
                                <ul class="list-unstyled">
                                    <li><a href="/login">Login</a></li>
                                </ul>
                            </li>

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <!-- Sidebar -->
                    <div class="clearfix"></div>

                </div>

            </div>
            <!-- Left Sidebar End -->